
.footer{
   border-top-style: solid;
   width: 350px;
   border-right-style: solid;
   margin-right: auto;
   border-radius: 2px 10px 2px 0px;
   height: 80px;
   box-shadow: 0pt 0pt 1pt 2pt #00d2d3;
}


.button{
    outline: none;
    background-color:#2d3436;
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 80px;
    box-shadow: 0pt 0pt 1pt 2pt #00d2d3;
    /* box-shadow: 2px 2px 10px 2px black; */
    height: 45px;
    margin-bottom: 1px;
    text-shadow: 0px 0px 1pt 2pt white;
         
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    padding: 2px;
    margin-top: 18px;
    
}