<div class="container">
       <h1 id="title" routerLink="/home">Coupons2Go</h1>
        <div class="userNav">
            <button *ngIf="userName === null || userName === 'Guest'" class="button" id="login" routerLink="/login"><mat-icon>login</mat-icon>LOG IN</button>
            <button *ngIf="userName === null || userName === 'Guest'" class="button" id="signup" routerLink="/signUp"><mat-icon>add</mat-icon>SIGN UP</button>
            <span class="userLoggedIn" *ngIf="userName !=='Guest' && userName !== null">
                <span id="userBox" ><p id="username">{{userName}}</p><mat-icon aria-hidden="false" aria-label="user" id="acc_icon">account_box</mat-icon></span>
                <button class="buttonIn" routerLink="/shopPage"><mat-icon  aria-hidden="false" aria-label="cart">shopping_cart</mat-icon>Shop</button>
                <button class="buttonIn" routerLink="/userPanel"><mat-icon>dashboard</mat-icon>Dashboard</button>
                <button class="buttonIn" *ngIf="userName !== 'Admin'" routerLink="/settings"><mat-icon>build</mat-icon>Settings</button>
                <button class="buttonIn" (click)="logOut()"><mat-icon>cancel</mat-icon>Log Out</button>
            </span>
        </div>
</div>