
.img_title{
grid-area: img_title;
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(1,79,82,1) 3%, rgba(130,250,255,1) 27%, rgba(130,250,255,0.19091386554621848) 51%, rgba(0,252,250,0) 100%);
justify-content: center;
align-items: center;
display: grid;
grid-template-columns: 1fr;

border-radius: 0px 0px 10px 0px;
border-right-style: solid;
border-bottom-style: solid;
box-shadow: 0pt 0pt 2pt 2pt #00d2d3;
width: 65%;
}

.title{
    position: absolute;
    font-size: 45px;
    justify-self: left;
    padding-left: 20px;
    color: white;
  text-shadow: 1px 1px 2px rgb(75, 75, 75), 0 0 25px rgb(75, 75, 255), 0 0 5px rgb(75, 168, 255);
  text-decoration: underline;
  text-decoration-style:solid;
  margin-top: 20px;
}

.arrow{
    display: flex;
    width: 95px;
    height: 23px;
    justify-content: flex-start;
}


.mat-icon {
    vertical-align: middle;
    font-size: 30px;
    padding-right: 1px;
    padding-left: 5px;
 }



.expand_text{
font-size: 18px;
padding-top: 3px;
}

.container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-areas: "img_title img_title box box box box box box";
    
}



.box{
    grid-area: box;
    width: 150px;
    margin-left: auto;
    border: 1px solid blue;
    margin-top: 2px;
   background-color: gray;
    border-right-style: none;
    transition: 2s;
    border-radius: 5px 0px 0px 20px;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "welcomeUser welcomeUser"
                          "login_signup login_signup";
                          height: 71px;
    

}


.welcome_name{
    top: 1px;
    grid-area: welcomeUser;
    background-color: red;
    height: 30px;
    
}
.login{
  margin-top: 3px;
  margin-left: 3px;
}

.login_signup{
    grid-area: login_signup;
    margin-top: 2px;
    margin-left: 1px;
    margin-bottom: 20px;
    border-style: groove;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: row;    
    font-size: 20px;
    font-weight: bold;
}


.signUp{

}

.button {
    padding: 1px;
    background-color:#2d3436;
    border-style: double;
    color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 40px;
    width: 70px;
    height: 30px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

  
  }

  .hamburgerContainer{
    display: block;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
  }

  .bar1, .bar2, .bar3 {
    width: 35px; 
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 3px;
  }
  
  /* .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  } */

 
  