 .footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  align-self: end;
  height: auto;
}
 .wrapper {
   position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 58px 1fr 85px;
  min-height: 100%;
  height: 100%;
  grid-template-areas: "header"
                        "nav"
                        "main"
                        "footer";
  overflow-y: scroll;
}



.nav{
 position: relative;
 grid-area: nav;
}

.main {
  position: relative;
  align-self: flex-start;
  height: 100%;
  grid-area: main;
  padding-bottom: 10px;
}

.header {
  width: 100%;
  padding-top: 0px;
  grid-area: header;
  position: static;
 

}

