<!-- <div class="wrapper">
    <a routerLink="login">login</a> <br/>
    <a routerLink="admin" >admin</a><br/>
    <a routerLink="customer">customer</a><br/>
    <a routerLink="company" >company</a><br/>
    <a routerLink="shopPage" >shopPage</a><br/>


</div>  -->
<!-- <mat-toolbar color="accent">
<div class="wrapper">
            <a routerLink="login">login</a> <br/>
            <a routerLink="admin">admin</a><br/>
             <a routerLink="customer">customer</a><br/>
              <a routerLink="company" >company</a><br/>
               <a routerLink="shopPage" >shopPage</a><br/>
</div>
</mat-toolbar> -->


<div class="container">


<div class="navbar">
  <button class="button home" routerLink="">Home</button>
   <button class="button login" routerLink="login">login</button>
   <button class="button shop" routerLink="shopPage">Shop</button>
   <!-- <button class="button admin" routerLink="admin">admin</button>
   <button class="button" routerLink="customer">customer</button>
   <button class="button" routerLink="company">company</button> -->
</div>
</div>

