




.navbar{
     
     
     background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(1,79,82,1) 3%, rgba(130,250,255,1) 27%, rgba(130,250,255,0.19091386554621848) 51%, rgba(0,252,250,0) 100%);
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: center;
border-bottom-style: solid;
border-color:  #00594f;
width: 600px;
margin-left: auto;
margin-right: auto;
border-radius: 50px;

}
.button {
     outline: none;
     background-color:#2d3436;
     border: none;
     color: white;
     padding: 1px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     cursor: pointer;
     border-radius: 8px;
     width: 80px;
     box-shadow: 0pt 0pt 1pt 2pt #00d2d3;
     height: 35px;
     margin-bottom: 10px;
     text-shadow: 0px 0px 1pt 2pt white;
          
    
   }
   .button:focus{
     box-shadow: 0 0 5pt 2pt black;
   }

   .home{
     order: 1;
}

.login {
 order: 2;
 text-align: center;
}
.admin{
     order: 4;
}

.shop{
    order: 3;
}