<div>    Q: How do I purchase coupons? <br/>
    A: If you do have an account then simply click on the Shop Button top midddle row. <br/><br/>
    Q: How do I register? <br/>
    A: Simply click on the top right button named Register. <br/><br/>
    Q: Is there a limit to how many coupons I can purchase?<br/>
    A: There is no limit to how many coupons you can purchase.<br/><br/>
    Q: Can I return the coupons after I purchase them?<br/>
    A: You cannot return a coupon after you have purchased it.<br/><br/>
    Q: Can I as a customer sell coupons? <br/>
    A: Only approved companies by our company are allowed to sell coupons.<br/><br/>
    Q: How do I as a company get approved by your company?<br/>
    A: You can click on the Contact Us link down bellow for inquiries and business related questions.</div>
