/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    background: rgb(0,55,62);
    background: linear-gradient(0deg, rgba(0,55,62,1) 0%, rgba(105,215,219,1) 49%, rgba(133,234,255,1) 100%);
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


